.about
   z-index                          3
   top                              -600px
   left                             1000px
   opacity                          0.3
   -webkit-transform                rotate(150deg)
   -moz-transform                rotate(150deg)
   -webkit-transform-origin         center top
   -moz-transform-origin         center top

.aboutpage .about
   top                              0px
   left                             0px
   opacity                          1    
   -webkit-transform                rotate(0deg)
   -moz-transform                rotate(0deg)

.left-about img
   border-style         solid
   border-color         darkgray
   border-width         10px

.left-about *
   color                black

.left-about h3
   font-size            20px
   
.left-about h4
   position             relative
   font-size            14px
   top               -30px