.about
   z-index                          3
   left                             750px
   -webkit-transform                rotateY(180deg)
   -moz-transform                   rotateY(180deg)

.aboutpage .about
   top                              0px
   left                             0px
   opacity                          1    
   -webkit-transform                rotate(0deg)
   -moz-transform                   rotate(0deg)

.left-about h3
   font-size                        20px
   letter-spacing                   1px
   margin-bottom                    -28px
   
.left-about h4
   font-size                        14px
   margin-bottom                    -20px

.about-position
   position                         relative
   top                              -40px