/*StyleSheet for D3project*/

*
	padding 				0
	margin 					0

.squares 
	background 				url('images/background/squares.jpg')

.bgnoise 
	background  			url('images/background/bgnoise.jpg')

.white_carbon 
	background 				url('images/background/white_carbon.png')

.lghtmesh 
	background 				url('images/background/lghtmesh.jpg')

.white_carbonfiber 
	background 				url('images/background/white_carbonfiber.png')

.timeout
	-webkit-transition		all 1s
	-moz-transition			all 1s