.contact
   z-index                          1
   top                              600px
   left                             1000px
   opacity                          0.3
   -webkit-transform                rotate(90deg)
   -moz-transform                   rotate(90deg)
   -webkit-transform-origin         left top
   -moz-transform-origin            left top   

.contactpage .contact
   top                              0px
   left                             0px
   opacity                          1
   -webkit-transform                rotate(0deg)
   -moz-transform                   rotate(0deg)

.Details
   width                            280px
   margin                           10px 0px 0px 30px

.contact-form
   width                            280px
   margin                           10px 30px 0px 0px

h2.contact-title
   font-family                      'Comic Sans MS', cursive
   color                            #888
   font-size                        24px
   margin-bottom                    30px
   border-bottom                    1px solid #dddddd
   text-align                       center

menu.contactDetails 
   width                            210px
   height                           200px
   padding                          0px

menu.contactDetails li 
   margin-bottom                   5px
   color                           #555555

menu.contactDetails li > img 
   margin-right                     10px

.contactIcon
   height                           55px
   margin                           10px auto 0px
   padding                          0px

.contactIcon li
   float                            left
   position                         relative
   top                              10px
   margin-left                      10px
   border-radius                    35px
   -moz-border-radius                    35px
   -webkit-transition               all 0.5s
   -moz-transition                  all 0.5s

.contactIcon li:hover
   -moz-box-shadow                  0px 0px 10px rgba(0, 0, 0, 0.7)inset
   box-shadow                       0px 0px 10px rgba(0, 0, 0, 0.7)inset
   -webkit-transition               all 0.5s
   -moz-transition                  all 0.5s

.contact-form .text
   border                           1px solid #b2b2b2
   box-shadow                       0px 0px 20px #b2b2b2 inset
   -moz-box-shadow                  0px 0px 20px #b2b2b2 inset
   font-family                      'Comic Sans MS', cursive
   font-size                        16px
   background-color                 #fafafa
   padding                          2px
   padding-left                     28px
   margin                           15px auto
   width                            200px
   display                          block
   -webkit-transition               all 0.5s
   -moz-transition                  all 0.5s
   
.contact-form .text:focus,
.contact-form .text:hover
   box-shadow                       0px 0px 15px #b2b2b2 inset
   -moz-box-shadow                  0px 0px 15px #b2b2b2 inset
   background-color                 #fff

.contact-form .text:focus
   box-shadow                       none
   -moz-box-shadow                  none
   -webkit-transition               all 0.5s
   -moz-transition                  all 0.5s

.contact-form .nameicon
   background-image                 url('images/contact-page/name.png')
   background-repeat                no-repeat
   background-position              -10px -10px

.contact-form input.nameicon:focus
   background-image                 url('images/contact-page/name-active.png')
   background-repeat                no-repeat
   background-position              -18px -10px
   
.contact-form .mailicon
   background-image                 url('images/contact-page/email.png')
   background-repeat                no-repeat
   background-position              -10px -10px
   
.contact-form input.mailicon:focus
   background-image                 url('images/contact-page/email-active.png')
   background-repeat                no-repeat
   background-position              -18px -10px
   
.contact-form .texticon
   background-image                 url('images/contact-page/message.png')
   background-repeat                no-repeat
   background-position              -10px -10px

.contact-form .texticon:focus
   background-image                 url('images/contact-page/message-active.png')
   background-repeat                no-repeat
   background-position              -18px -10px

.contact-form textarea.texticon
   height                           140px
   resize                           none

#contact-form .btn
   border                           none
   position                         relative
   left                             190px