.contact
   z-index                          1
   top                              600px
   left                             1000px
   opacity                          0.3
   -webkit-transform                rotate(90deg)
   -moz-transform                   rotate(90deg)
   -webkit-transform-origin         left top
   -moz-transform-origin            left top   

.contactpage .contact
   top                              0px
   left                             0px
   opacity                          1
   -webkit-transform                rotate(0deg)
   -moz-transform                   rotate(0deg)