/*.home
	width 					650px
	height 					450px
	position 				absolute
	left 					0
	top 					0
	right 					0
	bottom 					0
	margin 					auto
	background-color		#FFF
*/
.home-title
	height 					200px
	position 				absolute
	left 					0
	top 					0
	right 					0
	bottom 					0
	margin 					auto
	text-align 				center

.home-title h1
	font-size 				70px
	color 					darkgray
	text-shadow 			0px 5px 3px rgba(0,0,0,0.9),-5px 0px 6px rgba(0,0,0,0.2)

.home-title h2
	font-size 				20px
	padding 				0px 10px
	position 				absolute
	top 					110px
	left 					300px
	color 					darkgray
	background-color		#FFF
	text-shadow 			0px 2px 3px rgba(0,0,0,0.9),-2px 0px 6px rgba(0,0,0,0.2)
	
.home-title hr
	width 					580px
	margin 					0 auto
	position				relative
	top 					-50px

.about
	width 					650px
	height  				450px
	background-color 		#fff
	overflow 				hidden 
	position				absolute
	left 					0
	top 					0
	right 					0
	bottom 					0
	margin 					auto	

.left-about
	height 					430px

.left-about img
	border-style 			solid
	border-color 			darkgray
	border-width			10px

.left-about *
	color 					black

.left-about h3
	font-size 				20px
	
.left-about h4
	position 				relative
	font-size				14px
	top 					-30px

.right-about
	min-height				430px	