.home
   z-index                       4
   top                           -600px
   left                          -1000px
   opacity                       0.3
   -webkit-transform             rotate(90deg)
   -webkit-transform-origin      left top

.homepage .home
   top                           0px
   left                          0px
   opacity                       1
   -webkit-transform             rotate(0deg)

.home-title
   height                        200px
   position                      absolute
   left                          0
   top                           0
   right                         0
   bottom                        0
   margin                        auto
   text-align                    center
   font-family                   'Comic Sans MS', cursive

.home-title h1
   font-size                     70px

.home-title h2
   font-size                     20px
   padding                       0px 10px
   position                      absolute
   top                           110px
   left                          300px
   background-color              #FFF
   
.home-title hr
   width                         580px
   margin                        0 auto
   position                      relative
   top                           -50px

 .Three-Dee
   color                         #dfdfdf
   text-shadow                   1px 1px 1px #dfdfdf,-1px -1px 0px #d1d1d1,-2px -2px 0px #cfcfcf,-3px -3px 0px #c1c1c1,
                                 -4px -4px 0px #bfbfbf,-5px -5px 0px #b1b1b1, -6px -6px 0 #afafaf,-7px -7px 6px #a1a1a1,
                                 -7px -7px 1px #9f9f9f,0px 0px 6px #919191