.home
   z-index                       4
   top                           -600px
   left                          -1000px
   opacity                       0.3
   -webkit-transform             rotate(90deg)
   -webkit-transform-origin      left top

.homepage .home
   top                           0px
   left                          0px
   opacity                       1
   -webkit-transform             rotate(0deg)

.home-title
   height                        200px
   position                      absolute
   left                          0
   top                           0
   right                         0
   bottom                        0
   margin                        auto
   text-align                    center

.home-title h1
   font-size                     70px
   color                         darkgray
   text-shadow                   0px 5px 3px rgba(0,0,0,0.9),-5px 0px 6px rgba(0,0,0,0.2)

.home-title h2
   font-size                     20px
   padding                       0px 10px
   position                      absolute
   top                           110px
   left                          300px
   color                         darkgray
   background-color              #FFF
   text-shadow                   0px 2px 3px rgba(0,0,0,0.9),-2px 0px 6px rgba(0,0,0,0.2)
   
.home-title hr
   width                         580px
   margin                        0 auto
   position                      relative
   top                           -50px