.btnmenu
	position				absolute
	color 					#777
	-webkit-transition 		all 0.3s
	-moz-transition 		all 0.3s
	cursor					pointer

.btnmenu:hover
	font-size 				30px
	color 					#333
	-webkit-transition 		all 0.5s
	-moz-transition 		all 0.5s

.btnmenuselect
	position				absolute
	font-size 				50px
	color 					#999
	-webkit-transition 		all 0.5s
	-moz-transition 		all 0.5s

.topLeft
	bottom 					90%
	left 					0
	
.topRight
	bottom					90%
	right 					0
	
.bottomLeft
	top 					90%
	left 					0

.bottomRight
	top 					90%
	right 					0