/*StyleSheet for D3project*/

*
	padding 				0
	margin 					0

.switcher
	position				fixed
	bottom 					0
	right 					0
	width 					170px
	height 					30px
	padding 				10px 0px
	background 				#FFF
	border-radius 			5px 0px 0px 0px
	-moz-border-radius 		5px 0px 0px 0px
	
.switcher menu
	width					150px
	height					25px
	position				absolute
	left					0
	top						0
	right					0
	bottom					0
	margin					auto
	padding-left			1px

.switcher li 
	float					left
	height 					24px
	width 					24px
	margin-left 			5px
	border 					1px solid #bbb
	cursor 					pointer
	display 				inline

.switcher li:first-child
	margin-left 			0px

.switcher li:hover 
	border 					1px solid #333

.timeout
	-webkit-transition		all 1s
	-moz-transition			all 1s 

.squares 
	background 				url('images/squares.jpg')

.bgnoise 
	background  			url('images/bgnoise.jpg')

.white_carbon 
	background 				url('images/white_carbon.png')

.lghtmesh 
	background 				url('images/lghtmesh.jpg')

.white_carbonfiber 
	background 				url('images/white_carbonfiber.png')
	
.container
	width					680px
	height					550px
	position				absolute
	left  					0
	right					0
	bottom					0
	top						0
	margin					auto

.btnmenu
	position				absolute
	font-weight				bold
	color 					#777
	-webkit-transition 		all 0.3s
	-moz-transition 		all 0.3s

.btnmenu:hover
	cursor					pointer
	font-size 				40px
	color 					#333
	-webkit-transition 		all 0.5s
	-moz-transition 		all 0.5s

.topLeft
	top 					0
	left 					0
	
.topRight
	top						0
	right 					0
	
.bottomLeft
	bottom 					0
	left 					0

.bottomRight
	bottom 					0
	right 					0
	
.contain
	width 					650px
	height 					450px
	position 				absolute
	left 					0
	top 					0
	bottom 					0
	right 					0
	margin 					auto
	background-color 		#FFF 
	-webkit-transform 		rotate3d(-6,4,0 ,0deg)
	-moz-transform 			rotate3d(-6,4,0 ,0deg)
	box-shadow				0 0 5px 3px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		0 0 5px 3px rgba(0, 0, 0, 0.1)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.montopleft
	box-shadow 				-10px -10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		-10px -10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(-6,4,0 ,10deg)
	-moz-transform 			rotate3d(-6,4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.montopright
	box-shadow 				10px -10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		10px -10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(6,4,0 ,10deg)
	-moz-transform 			rotate3d(6,4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.monbottomleft
	box-shadow 				-10px 10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		-10px 10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(-6,-4,0 ,10deg)
	-moz-transform 			rotate3d(-6,-4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.monbottomright
	box-shadow 				10px 10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		10px 10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(6,-4,0 ,10deg)
	-moz-transform 			rotate3d(6,-4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms
	
.home
	width 					650px
	height 					450px
	position 				absolute
	left 					0
	top 					0
	right 					0
	bottom 					0
	margin 					auto
	background-color		#FFF

.home-title
	height 					200px
	position 				absolute
	left 					0
	top 					0
	right 					0
	bottom 					0
	margin 					auto
	text-align 				center

.home-title h1
	font-size 				70px
	color 					darkgray
	text-shadow 			0px 5px 3px rgba(0,0,0,0.9),-5px 0px 6px rgba(0,0,0,0.2)

.home-title h2
	font-size 				20px
	padding 				0px 10px
	position 				absolute
	top 					110px
	left 					300px
	color 					darkgray
	background-color		#FFF
	text-shadow 			0px 2px 3px rgba(0,0,0,0.9),-2px 0px 6px rgba(0,0,0,0.2)
	
.home-title hr
	width 					580px
	margin 					0 auto
	position				relative
	top 					-50px

.about
	width 					650px
	height  				450px
	background-color 		#fff
	overflow 				hidden 
	position				absolute
	left 					0
	top 					0
	right 					0
	bottom 					0
	margin 					auto	

.left-about
	height 					430px

.left-about img
	border-style 			solid
	border-color 			darkgray
	border-width			10px

.left-about *
	color 					black

.left-about h3
	font-size 				20px
	
.left-about h4
	position 				relative
	font-size				14px
	top 					-30px

.right-about
	min-height				430px	