/*StyleSheet for D3project*/

*
	padding 				0
	margin 					0

.timeout
	-webkit-transition		all 1s
	-moz-transition			all 1s 

.container
	width					680px
	height					550px
	position				absolute
	left  					0
	right					0
	bottom					0
	top						0
	margin					auto
	
.contain
	width 					650px
	height 					450px
	position 				absolute
	left 					0
	top 					0
	bottom 					0
	right 					0
	margin 					auto
	background-color 		#FFF
	overflow 				hidden
	-webkit-transform 		rotate3d(-6,4,0 ,0deg)
	-moz-transform 			rotate3d(-6,4,0 ,0deg)
	box-shadow				0 0 5px 3px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		0 0 5px 3px rgba(0, 0, 0, 0.1)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.montopleft
	box-shadow 				-10px -10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		-10px -10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(-6,4,0 ,10deg)
	-moz-transform 			rotate3d(-6,4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.montopright
	box-shadow 				10px -10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		10px -10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(6,4,0 ,10deg)
	-moz-transform 			rotate3d(6,4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.monbottomleft
	box-shadow 				-10px 10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		-10px 10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(-6,-4,0 ,10deg)
	-moz-transform 			rotate3d(-6,-4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms

.monbottomright
	box-shadow 				10px 10px 20px rgba(0, 0, 0, 0.1)
	-moz-box-shadow 		10px 10px 20px rgba(0, 0, 0, 0.1)
	-webkit-transform 		rotate3d(6,-4,0 ,10deg)
	-moz-transform 			rotate3d(6,-4,0 ,10deg)
	-webkit-transition 		all 400ms
	-moz-transition 		all 400ms