/*StyleSheet for D3project*/

*
	padding 				0
	margin 					0
	
.switcher
	position				fixed
	bottom 					0
	right 					0
	width 					170px
	height 					30px
	padding 				10px 0px
	background 				#FFF
	border-radius 			5px 0px 0px 0px
	
.switcher menu
	width					150px
	height					25px
	position				absolute
	left					0
	top						0
	right					0
	bottom					0
	margin					auto
	padding-left			1px

.switcher li 
	float					left
	height 					24px
	width 					24px
	margin-left 			5px
	border 					1px solid #bbb
	cursor 					pointer
	display 				inline

.switcher li:first-child
	margin-left 			0px

.switcher li:hover 
	border 					1px solid #333

.timeout
	-webkit-transition		all 1s  

.squares 
	background 				url('images/squares.jpg')

.bgnoise 
	background  			url('images/bgnoise.jpg')

.white_carbon 
	background 				url('images/white_carbon.png')

.lghtmesh 
	background 				url('images/lghtmesh.jpg')

.white_carbonfiber 
	background 				url('images/white_carbonfiber.png')